* {
    padding: 0;
    margin: 0;
}

#gameBoard {
    background-image: url(background_hills.jpg);
    background-color: white;
    width: 500px;
    height: 700px;
    margin: auto; 
    border: 2px solid black;
    overflow: hidden;
}

#pipe {
    background-image: url(flappybird-pipe.png);
    /* background-color: red; */
    width: 60px;
    height: 700px;
    position: relative;
    left: 500px;
    animation: pipe 2s infinite linear;

    /* Bug fixing speed */
    /* animation: pipe 10s infinite linear; */
}

@keyframes pipe {
    0%{left: 500px}
    100%{left: -70px}
}

#hole {
    width: 60px;
    height: 150px;
    background-image: url(background_hills.jpg);
    background: green;
    position: relative;
    left: 500px;
    /* Starting position of the first hole */
    top: -350px;
    border-top: 5px ridge green;
    border-bottom: 5px ridge green;
    
    animation: pipe 2s infinite linear;

    /* Bug fixing speed */
    /* animation: pipe 10s infinite linear; */
}

#bee {
    background-image: url(bee.png);
    height: 40px;
    width: 40px;
    /* background-color: blue; */
    position: absolute;
    /* margin: auto; */
    left: 43%;
    top: 330px;
}