* {
    padding: 0;
    margin: 0;
}

#gameBoard {
    background-color: black;
    width: 500px;
    height: 700px;
    margin: auto; 
    overflow: hidden;
}

#pipe {
    background-color: red;
    width: 70px;
    height: 700px;
    position: relative;
    left: 500px;
    animation: pipe 2s infinite linear
}

@keyframes pipe {
    0%{left: 500px}
    100%{left: -70px}
}

#hole {
    width: 70px;
    height: 150px;
    background-color: black;
    position: relative;
    left: 500px;
    top: -700px;
    animation: pipe 2s infinite linear;
}

#bee {
    height: 40px;
    width: 50px;
    background-color: blue;
    position: absolute;
    /* margin: auto; */
    left: 43%;
    top: 330px;
}