* {
    padding: 0;
    margin: 0;
}

#gameBoard {
    background-color: black;
    width: 500px;
    height: 700px;
    margin: auto;
    overflow: hidden;
}

#pipe {
    background-image: url(flappybird-pipe.png);
    /* background-color: red; */
    width: 70px;
    height: 700px;
    position: relative;
    left: 500px;
    animation: pipe 2s infinite linear;

    /* Bug fixing speed */
    /* animation: pipe 10s infinite linear; */
}

@keyframes pipe {
    0%{left: 500px}
    100%{left: -70px}
}

#hole {
    width: 70px;
    height: 150px;
    background-color: black;
    position: relative;
    left: 500px;
    /* Starting position of the first hole */
    top: -350px;
    
    animation: pipe 2s infinite linear;

    /* Bug fixing speed */
    /* animation: pipe 10s infinite linear; */
}

#bee {
    /* I HAVE CHANGED THE BEE HEIGHT/WIDTH. WILL AFFECT THE COLISION NUMBERS
    WAS 40x50 */
    
    /* background-image: url("bee.png"); */
    background-image: url("flappy-bird.png");
    /* background-color: yellow; */
    height: 45px;
    width: 60px;
    position: absolute;
    /* margin: auto; */
    left: 43%;
    top: 330px;
    z-index: +1;
}